body {
	font-family: Oswald;
	background-color: #f2f2f2;
	margin: 0px;
}
header {
	margin: 0px;
	padding: 0px;
}
h1{
	color: #008000;
	font-size: 60px;
	font-family: Oswald;
	position: relative;
	font-style: normal;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
h2, h3{
	color: #008000;
	font-family: Oswald;
	padding: 0px;
	padding-top: 15px;
	margin-top: 0px;
	margin-bottom: 0px; 
	margin-left: 0px;
	margin-bottom: 0px;
	font-style: normal;
	font-weight: bold;
}
p{
	font-family: Gentium;	
	font-size: 100%;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-style: normal;
	font-weight: lighter;
}
i{
	font-family: Gentium;
	font-style: italic;
	font-weight: lighter;
}
b{
	font-family: Gentium;
	font-style: normal;
	font-weight: bold;
}
a{
    color: #008000;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
	text-decoration: none;
	color: #ff751a;
}
footer{
	padding: 0px;
	margin: 0px;
}
footer p{
	padding: 0px;
	margin: 0px;
}
/*
	---Hero, index.html---
*/
.col-sm-12 h1{
	padding-top: 40px;
	text-align: center;
	position: relative;
}
.heroImage{
	height: 500px;
  	background-image: url("../images/anne.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 100%;
}
/*
	---Combined image and text in index.html---
*/
#indexImageText p{
	padding: 20px;
}
#indexImageText h2{
	padding: 20px;
}
#indexImageText h3{
	padding: 20px;
}
#indexImageText img{
	width: 100%;
}
#indexImageText, .col-sm-6{
	padding: 0px;
	margin: 0px;
} 

#eatSee p{
	margin-bottom: 8px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#readMoreButtonEat{
	color: #f2f2f2;
	background-color: #008000;
	transition: 0.3s;
}
#readMoreButtonEat:hover{
	background-color: #ff751a;
}
#readMoreButtonSee{
	color: #f2f2f2;
	background-color: #008000;
	transition: 0.3s;
}
#readMoreButtonSee:hover{
	background-color: #ff751a;
}
#drinkImage img{
	width: 40%;
}
#kiteImage img{
	height: 70%;
}
/*
	---Adding padding to images on small screens, index.html---
*/
@media screen and (max-width: 600px) {
	#indexImageText img{
		padding-top: 20px;
	}
	.col-sm-12 h1{
	font-size: 40px;
	}
	.heroImage{
	height: 200px;
	}
}
/*---Bootstrap grid for choices section---*/
.container{
	padding: 10px;
}
.col-sm-2 p{
	font-family: Oswald;
	text-align: center;
}
.col-sm-2{
	display: flex;
	justify-content: center;
	text-align: center;
	align-content: center;
	flex-direction: column;
}
.col-sm-2 img{
	width: 75%;
}
.col-sm-2 svg{
	display:block;
	margin: auto;
	width: 3em; 
	height: 3em;
	fill: currentColor;

}
/*
	---Background colours---
*/
.whiteBackground{
	background-color: white;
}
.greyBackground{
	background-color: #f2f2f2;
}
/* 
	---Footer, used in all html-files---
*/
#footerStyle svg{
	color: #008000;
	-moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
    height: 30px;
    width: 30px;
    fill: currentColor;
}
#footerStyle svg:hover{
	color: #ff751a;
}
.col-sm-1{
  	text-align: center;
  	position: relative;
  	color: white;
  	padding-bottom: 10px;
  	padding-top: 10px;
}
/*
	---Styling for map.html---
*/
.containerMap{
	padding-left: 10%;
  	padding-right: 10%;
  	padding-top: 30px;
 	padding-bottom: 30px;
}
.containerMap iframe{
	width: 640;
	height: 480;
}
/*
	---Styling for contact.html---
*/
/*First image on page*/
.bookingImage{
	height: 300px;
  	background-image: url("../images/clover_img.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 100%;
}
#booking h1{
	color: #ff751a;
	text-shadow: 4px 4px black;
}
#booking{
	padding-top: 0px;
	padding-bottom: 0px;
}
/*Booking button*/
#bookingStart{
	padding:20px;
}
#bookingButton{
	color: #f2f2f2;
	background-color: #008000;
	transition: 0.3s;
}
#bookingButton:hover{
	background-color: #ff751a;
}
/*Booking form*/
#bookingForm{
	padding-top: 0px;
	padding-bottom: 15px;
}
/*Submit button*/
#submitButton{
	color: #f2f2f2;
	background-color: #ff751a;
	transition: 0.3s;
}
#submitButton:hover{
	background-color: #008000;
}
.col-sm-4{
	display: flex;
	position: center;
	justify-content: center;
	text-align: center;
}
.row{
	margin: 0px;
}
label{
	display:flex;
}
input{
	margin-bottom: 5px;
	margin-top: 5px;
}
/*Styling for about.html*/
.aboutImage img{
	width: 100%;
	height: relative;
	align-items: flex-end;
	padding-right: 10px;
}
#aboutImageText, .col-sm-4{
	display: block;
	text-align: left;
}
#aboutImageText, .col-sm-8{
	padding-top: 10px;
	padding-bottom: 0px;
	padding-right: 0px;
}
#aboutImageText p{
	padding-bottom: 30px;
}
#readMoreButton{
	color: #f2f2f2;
	background-color: #008000;
	transition: 0.3s;
}
#readMoreButton:hover{
	background-color: #ff751a;
}
#aboutImage{
	width: 100%;
}

/*
	---Embedded fonts---
*/
@font-face{
	font-family: Oswald;
	src: url(fonts/Oswald-SemiBold.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: Gentium;
	src: url(fonts/GentiumBasic-Regular.ttf);
	font-weight: lighter;
	font-style: normal;
}
@font-face{
	font-family: Gentium;
	src: url(fonts/GentiumBasic-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}
@font-face{
	font-family: Gentium;
	src: url(fonts/GentiumBasic-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}